<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="wxs.admin.doman.dao.MenuMapper">
    <select id="getUserMenuList" resultType="wxs.admin.vo.menu.MenuResVo" parameterType="wxs.admin.vo.user.UserReqVo">
       SELECT  DISTINCT t4.id,t4.lvl,t4.menu_name text,t4.router_path  name,
                t4.parent_id ,t4.display_seq,t4.is_deleted,t4.type,t4.is_hidden
        from  t_user_role t1
		INNER JOIN t_role t2 on  t1.role_id = t2.id  AND t2.is_deleted = 2
        INNER join t_role_menu t3 on t3.role_id = t2.id
        INNER JOIN t_menu t4 ON t4.id = t3.menu_id AND t4.is_deleted = 2
        where t1.user_id = #{id}
    </select>

    <select id="getMenuList" resultType="wxs.admin.vo.menu.MenuResVo" parameterType="wxs.admin.vo.user.UserReqVo">
        SELECT menu.id,menu.menu_name name,menu.lvl,menu2.menu_name parentName,menu.display_seq,menu.router_path text  FROM `t_menu` menu
        left join `t_menu` menu2 on menu.parent_id = menu2.id
        where menu.is_deleted = 2
        <if test="menuName != null ">
            and menu.menu_name like concat(#{menuName},'%')
        </if>
        <if test="lvl != null and lvl !=''">
            and menu.lvl = #{lvl}
        </if>
        <if test="parentId != null and parentId !=''">
            and menu.parent_id = #{parentId}
        </if>
        order by menu.create_time,menu.display_seq
    </select>

    <select id="getMenuByMenuId" resultType="wxs.admin.vo.menu.MenuResVo" parameterType="String">
       SELECT menu.id,menu.menu_name ,menu.lvl,
       menu.parent_id ,menu.display_seq,menu.router_path,type,is_hidden
       FROM `t_menu` menu
       where menu.is_deleted = 2 and menu.id=#{id}
    </select>

    <update id="deleteMenuByIds"  parameterType="java.util.List">
                update  t_menu
                set is_deleted = 0
                where id in
                <foreach collection="list" open="(" close=")" item="id" separator=",">
                    #{id}
                </foreach>
    </update>
</mapper>